<h3>About Us</h3>

<div>
	<p>House of Harlow is a full service Salon and Spa. Our goal is to provide a comfortable seeting for family friendly spa services. We strive to achieve client satisfaction through unsurpassed quality and excellent customer service. Our team is one of skilled technicians that have been highly trained to ensure a top-notch experience every visit.</p>
</div>

<h3>Our Professionals</h3>

<div>
	<table>
		<tbody>
			<tr>
				<td>Renee Schmidt</td>
				<td>Owner/Nail Technician</td>
			</tr>
			<tr>
				<td>Kari Abbey</td>
				<td>Hair Stylist</td>
			</tr>
			<tr>
				<td>Tamara Stewart</td>
				<td>Hair Stylist</td>
			</tr>
			<tr>
				<td>Adrianna Leal</td>
				<td>Hair Stylist/Make-up Artist: Radiance Airbrush</td>
			</tr>
			<tr>
				<td>Jeanette Herman</td>
				<td>Hair Stylist</td>
			</tr>
			<tr>
				<td>Heather Killman</td>
				<td>Hair Stylist</td>
			</tr>
			<tr>
				<td>Ali Van Groll</td>
				<td>Hair Stylist</td>
			</tr>
			<tr>
				<td>Julie Wobermin</td>
				<td>Hair Stylist</td>
			</tr>
			<tr>
				<td>Heidi Deprey</td>
				<td>Massage Therapist</td>
			</tr>
			<tr>
				<td>Tamy Quinian</td>
				<td>Skin Care Specialist</td>
			</tr>
			<tr>
				<td>Jordan Mee</td>
				<td>Jordan Mee</td>
			</tr>
		</tbody>
	</table>
</div>


<h3>Our Products</h3>
<div>
	<table>
		<tbody>
			<tr>
				<td>Lanza</td>
				<td>Joico</td>
				<td>Enjoy</td>
				<td>Kenra</td>
				<td>Sombra</td>
				<td>Nerium</td>
				<td>Billion Dollar Brows</td>
				<td>Sparitual</td>
				<td>Bioelements</td>
			</tr>
		</tbody>
	</table>
</div>