<div class='container col-xs-12 col-md-10 col-md-off-1'>
	<div class='row'>
		<div>
			<h4>COMPREHENSIVE</h4>
			<h4>HAIR SERVICES</h4>
			<img src="/app/assets/images/hair.jpeg" alt="Hair Services">
			<p>Performed by heighly trained professionals who are up ont he latest trends and styles.</p>
			<div>
				<h6>Schedule Online</h6>
			</div>
		</div>

		<div>
			<h4>NAIL</h4>
			<h4>DESIGN</h4>
			<img src="">
			<p>Luxury, natural and artifical nail services perfomred by licensed technicians.</p>
			<div>
				<h6>Schedule Online</h6>
			</div>
		</div>

		<div>
			<h4>SKIN</h4>
			<h4>CARE</h4>
			<img src="">
			<p>Customized Skin Care services based on each individuals needs.</p>
			<div>
				<h6>Schedule Online</h6>
			</div>
		</div>

		<div>
			<h4>MASSAGE</h4>
			<h4>THERAPY</h4>
			<img src="">
			<p>Wheter relaxing or deep muscle work, you are sure to feel the benefits from our custom massages.</p>
			<div>
				<h6>Schedule Online</h6>
			</div>
		</div>
	</div>
</div>