<!DOCTYPE html>
<html>
  <head>
    <title>House of Harlow Salon</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
<body class="#42a5f5 blue lighten-1">

 <!-- This is the Nav Bar -->
 <nav>
    <div class="nav-wrapper z-depth-3">
      <div class="brand-logo">

      </div>

      <ul id="nav-mobile" class="right">

      </ul>
    </div>
  </nav>

  <!-- This is the ruby 'yield' section holding the body of all content -->
  <div class="container full-height blue lighten-3 main z-depth-2">
    <div class="row">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      
      <%= yield %>
    </div>
  </div>

</body>
</html>
	